{% extends "master.html" %}

{% block title %}Listar Materias{% endblock %}

{% block content %}
<h1>Cursos</h1>

  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'cursos-crear' %}">Crear Curso</a>
    {% include '../filtros/filtroCurso.html' %}
  </div>
  <div class="box">
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Materia</th>
        <th>Modulo</th>
        <th>Profesor</th>
        <th>Horario</th>
        <th>Estado</th>
      </tr>
  		<tbody>
        {% for Curso in filtro.qs %}
        <tr>
            <td><a {% if user.is_staff %} href="{% url 'cursos-editar' Curso.id %}" {% endif %}>{{ Curso.id }}</a></td>
            <td> {{ Curso.materiaID }} </td>
            <td> {{ Curso.modulo }} </td>
            <td> {{ Curso.profesorID }} </td>
            <td>
            </td>
            <td> {{ Curso.estado }} </td>
	       </tr>
        {% empty %}
        <tr>
            <td colspan="6">No se encontraron Cursos o no fueron creados.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}