{% extends "master.html" %}

{% block title %}Listar Materias{% endblock %}

{% block content %}
<h1>Cursos</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="">Crear Curso</a>
    <form type="get" action=".">
      <input type="text" placeholder="Buscar Curso.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="box">
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Modulo</th>
        <th>Profesor</th>
        <th>Estado</th>
      </tr>
  		<tbody>
        {% for Curso in cursos %}
        <tr>
            <td><a {% if user.is_staff %} href="" {% endif %}>{{ Curso.id }}</a></td>
            <td> {{ Curso.modulo }} </td>
            <td> {{ Curso.profesorID }} </td>
            <td> {{ Curso.estado }} </td>
	       </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}