{% extends "master.html" %}

{% block title %}Listar Materias{% endblock %}

{% block content %}
<h1>Cursos</h1>

  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'cursos-crear' %}">Crear Curso</a>
    {% include '../filtros/filtroCurso.html' %}
  </div>
  <div class="box">
    <table class="table ">
      <tbody>
      <tr>
        <th>#ID</th>
        <th>Materia</th>
        <th>Modulo</th>
        <th>Profesor</th>
        <th>Horario</th>
        <th>Estado</th>
        <th>Alumnos</th>
        <th>Editar</th>
      </tr>
        {% for Curso in filtro %}
        <tr>
            <td> {{ Curso.0 }} </td>
            <td> {{ Curso.1 }} </td>
            <td> {{ Curso.2 }} </td>
            <td> {{ Curso.3 }} </td>
            <td>
              {% for det in Curso.4 %}
                <strong>{{ det }}</strong></br>
              {% empty %}
                <strong>No se asignaron dias para este curso.</strong>
              {% endfor %} 
            </td>
            <td> {{ Curso.5 }} </td>
            <td><a {% if user.is_staff %} class="Insc" href="{% url 'alumno-index' Curso.0 %}" {% endif %}>Listar</a></td>
            <td><a {% if user.is_staff %} class="Edit" href="{% url 'cursos-editar' Curso.0 %}" {% endif %}>Editar</a></td>
	       </tr>
        {% empty %}
        <tr>
            <td colspan="6">No se encontraron Cursos o no fueron creados.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}