# cache autogenerado por django
__pycache__/
computadoras/__pycache__
asistencia/__pycache__
control/__pycache__
cursos/__pycache__
dependencia/__pycache__
espacio/__pycache__
importacion/__pycache__
personas/__pycache__

#migrations
asistencia/migrations
control/migrations
cursos/migrations
dependencia/migrations
espacio/migrations
importacion/migrations
personas/migrations

#basura
.DS_Store
.directory

#pip logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot

# mas
MANIFEST
*.egg-info


# temp folder
/tmp

# dependencias
/node_modules
/bower_components
