{% extends "master.html" %}

{% block title %}EDLT - Detalle de Aula{% endblock %}

{% block content %}
  <h1>Aula {{ aula.nombre }} - {{ mes }} / {{ anio }}</h1>
  <div class="sub-nav">
    <a id="cargar" href="{% url 'cargarCurso' aula.id mes anio 'cargar' %}">Cargar Curso</a>
    <a id="vaciar" href="{% url 'cargarCurso' aula.id mes anio 'vaciar' %}">Vaciar</a>
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>Hora</th>
      {% for d in dia %}
      <th>{{d.dia}}</th>
      {% endfor %}
    </tr>    
    {% if lista %}
    <tr>
      <td>09:00</td>
          {% for det in lista%}
              {% if forloop.counter < 7 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>09:30</td>
          {% for det in lista%}
              {% if forloop.counter > 6 and forloop.counter < 13 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>10:00</td>
          {% for det in lista%}
              {% if forloop.counter > 12 and forloop.counter < 19 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>10:30</td>
          {% for det in lista%}
              {% if forloop.counter > 18 and forloop.counter < 25 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>11:00</td>
          {% for det in lista%}
              {% if forloop.counter > 24 and forloop.counter < 31 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>11:30</td>
          {% for det in lista%}
              {% if forloop.counter > 30 and forloop.counter < 37 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>12:00</td>
          {% for det in lista%}
              {% if forloop.counter > 36 and forloop.counter < 43 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>12:30</td>
          {% for det in lista%}
              {% if forloop.counter > 42 and forloop.counter < 49 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>13:00</td>
          {% for det in lista%}
              {% if forloop.counter > 48 and forloop.counter < 55 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>13:30</td>
          {% for det in lista%}
              {% if forloop.counter > 54 and forloop.counter < 61 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>14:00</td>
          {% for det in lista%}
              {% if forloop.counter > 60 and forloop.counter < 67 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>14:30</td>
          {% for det in lista%}
              {% if forloop.counter > 66 and forloop.counter < 73 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>15:00</td>
          {% for det in lista%}
              {% if forloop.counter > 72 and forloop.counter < 79 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>15:30</td>
          {% for det in lista%}
              {% if forloop.counter > 78 and forloop.counter < 85 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>16:00</td>
          {% for det in lista%}
              {% if forloop.counter > 84 and forloop.counter < 91 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>16:30</td>
          {% for det in lista%}
              {% if forloop.counter > 90 and forloop.counter < 97 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>17:00</td>
          {% for det in lista%}
              {% if forloop.counter > 96 and forloop.counter < 103 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>17:30</td>
          {% for det in lista%}
              {% if forloop.counter > 102 and forloop.counter < 109 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>18:00</td>
          {% for det in lista%}
              {% if forloop.counter > 108 and forloop.counter < 115 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>18:30</td>
          {% for det in lista%}
              {% if forloop.counter > 114 and forloop.counter < 121 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>19:00</td>
          {% for det in lista%}
              {% if forloop.counter > 120 and forloop.counter < 127 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>19:30</td>
          {% for det in lista%}
              {% if forloop.counter > 126 and forloop.counter < 133 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>20:00</td>
          {% for det in lista%}
              {% if forloop.counter > 132 and forloop.counter < 139 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>20:30</td>
          {% for det in lista%}
              {% if forloop.counter > 138 and forloop.counter < 145 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>21:00</td>
          {% for det in lista%}
              {% if forloop.counter > 144 and forloop.counter < 151 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>21:30</td>
          {% for det in lista%}
              {% if forloop.counter > 150 and forloop.counter < 157 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    <tr>
      <td>22:00</td>
          {% for det in lista%}
              {% if forloop.counter > 156 and forloop.counter < 163 %}
                {% if det.0 != "disponible"%}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.2 %}">{{det.0}} {{det.1}}</a></td>
                {% else %}
                  <td><a class="{{det.0.id}}" href="{% url 'detalleEditar' det.1 %}">{{det.0}}</a></td>
                {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
    {% else %}
    <tr>
      <td colspan="7"><strong>No hay Horarios creados para este Curso, Mes y/o Año.</strong></td>
    </tr>
    {% endif %}
  </table>
</div>
{% endblock %}