{% extends "master.html" %}

{% block title %}EDLT - Aulas{% endblock %}

{% block content %}
  <h1>Aulas</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'aulacrear' %}">Crear Aula</a>
    <form type="get" action=".">
      <input type="text" placeholder="Buscar Aula.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
    <tbody>
    {% for a in aulas %}
    <tr>
      <td><a href="{% url 'detalleAula' a.id %}">{{ a.id }}</a></td>
      <td> {{ a.nombre }} </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="2"><strong>No se encontraron Aulas o no fueron creadas.</strong></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}