{% extends "master.html" %}

{% block title %}EDLT - Aulas{% endblock %}

{% block content %}
  <h1>Aulas de {{ depen.0.nombre }}</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'crearAula' depen.0.id %}">Crear Aula</a>
    {% include '../filtros/filtroAula.html' %}
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th colspan="3">Horarios</th>
    </tr>
    <tbody>
    {% for a in filtro.qs %}
    <tr>
      <td>{{ a.id }}</td>
      <td> {{ a.nombre }} </td>
      <td><a class="Insc" href="{% url 'aula' a.id %}">Crear Mes</td>
      <td><a class="Edit" href="{% url 'horarioCopiar' a.id %}">Copiar Mes</td>
      <td>
        <ul>
          <li class="drop">
            <a class="drop-btn">Meses <span class="fa fa-angle-down"></span></a>
              <div class="drop-cont">
              {% for b in lista %}
                {% if a.id == b.0 %}
                    <a class="drop-btn" href="{% url 'aulaMes' a.id b.1 b.2 %}">{{b.1}} / {{b.2}}</a>  
                {% endif %}    
              {% endfor %}
              </div>
          </li> 
        </ul>
      </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="5"><strong>No se encontraron Aulas o no fueron creadas.</strong></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}