{% extends "master.html" %}

{% block title %}EDLT - Aulas{% endblock %}

{% block content %}
  <h1>Aulas de {{ depen.0.nombre }}</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'aulacrear' depen.0.id %}">Crear Aula</a>
    {% include '../filtros/filtroAula.html' %}
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Horarios</th>
    </tr>
    <tbody>
    {% for a in filtro.qs %}
    <tr>
      <td>{{ a.id }}</td>
      <td> {{ a.nombre }} </td>
      <td><a class="Insc" href="{% url 'detalleAula' a.id %}">Mostrar</td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="2"><strong>No se encontraron Aulas o no fueron creadas.</strong></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}