{% extends "master.html" %}

{% block title %}EDLT - Dependencias{% endblock %}

{% block content %}
  <h1>Dependencias</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'dependenciacrear' %}">Crear Dependencia</a>
    {% include '../filtros/filtroDependencia.html' %}
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Whatsapp</th>
      <th>Aulas</th>
    </tr>
    <tbody>
    {% for de in filtro.qs %}
    <tr>
      <td> {{ de.nombre }} </td>
      <td> {{ de.direccion }} </td>
      <td> {{ de.telefono }} </td>
      <td> {{ de.whatsapp }} </td>
      <td><a class="Insc" href="{% url 'aulas' de.id %}">Mostrar</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5"><strong>No se encontraron Dependencias o no fueron creadas.</strong></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}