{% extends "master.html" %}

{% block title %}Dependencias{% endblock %}

{% block content %}
  <h1>Dependencias</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'dependenciacrear' %}">Crear Dependencia</a>
    <form type="get" action=".">
      <input type="text" placeholder="Buscar Dependencia.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>Aulas</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Whatsapp</th>
    </tr>
    <tbody>
    {% for de in dependencia %}
    <tr>
      <td><a href="{% url 'aulas' de.id %}">Mostrar</a></td>
      <td> {{ de.nombre }} </td>
      <td> {{ de.direccion }} </td>
      <td> {{ de.telefono }} </td>
      <td> {{ de.whatsapp }} </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No se encontraron Dependencias o no fueron creadas.</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}