{% extends "master.html" %}

{% block title %}Detalle de Aula{% endblock %}

{% block content %}
  {% for a in aula %}
  <h1>Aula {{ a.nombre }}</h1>
  {% endfor %}
  <div class="box">
  <table class="table ">
    <tr>
      <th>Hora</th>
      {% for d in dia %}
      <th>{{d.dia}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>09:00</td>
          {% for det in detalleA%}
              {% if forloop.counter < 2 %}
                <td>{{ forloop.counter}} {{det.horaId}}</td>
              {% endif %}
          {% endfor %}
    </tr>
   
    </tr>
  </table>
</div>

{% endblock %}