{% extends "master.html" %}

{% block title %}Detalle de Aula{% endblock %}

{% block content %}
  {% for a in aula %}
  <h1>Aula {{ a.nombre }}</h1>
  {% endfor %}
  <div class="box">
  <table class="table ">
    <tr>
      <th>Hora</th>
      {% for d in dia %}
      <th>{{d.dia}}</th>
      {% endfor %}
    </tr>
    {% for h in hora %}
    <tr>
      <td>{{h.hora}}</td>
      {% for det in detalleA%}
        {% if det.horaId == h.id %}
          <td>{{ det.estado }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}