{% extends "master.html" %}

{% block title %}EDLT - Listar Materias{% endblock %}

{% block content %}
<h1>Materia</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'materias-crear' %}">Crear Materia</a>
    {% include '../filtros/filtroMateria.html' %}
  </div>
  <div class="box">
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
      </tr>
  		<tbody>
        {% for Materia in filtro.qs %}
        <tr>
            <td><a {% if user.is_staff %} href="{% url 'materias-editar' Materia.id %}" {% endif %}>{{ Materia.id }}</a></td>
            <td> {{ Materia.nombre }} </td>
            <td> {{ Materia.tipo }} </td>
	        </tr>
        {% empty %}
        <tr>
            <td colspan="3"><strong>No se encontraron Materias o no fueron creadas.</strong></td>
        </tr>
        {% endfor %}
      	</tbody>
    </table>
  </div>
{% endblock %}