{% extends "master.html" %}

{% block title %}EDLT-Mensaje{% endblock %}

{% block content %}
	<blockquote class="{{ tipo }}">
  		{% if tipo == 'neg' %}
  			<span class="fa fa-ban"></span>
  		{% else %}
  			<span class="fa fa-check-circle"></span>
  		{% endif %}
  		<h2>{{ titulo }}</h2>
  		<p>{{ mensaje }}</p>
  		<p id="contador"></p>
	</blockquote>
	<script type="text/javascript">
   var time = 5;
   function contador()
    {
      if(time > 0)
        {
          document.getElementById("contador").innerHTML = "Seras redireccionado en <b>"+ time + "</b> segundos.";
          time--;
        } 
      else 
        {
          location.href="{{ url }}" //Redirecciona al index.
        }
    }
  setInterval(contador, 1000) 
  </script>
{% endblock %}