{% load static %}
<header>
	<a href="{% url 'home' %}"><img class="logo" src="{% static "/img/logo.png" %}"></a>
</header>
<ul>
  <li class="drop">
    <a class="drop-btn">Personas</a>
    <div class="drop-cont">
      <a class="drop-btn" href="{% url 'personas-index' tipo='Profesor' %}">Listar Profesores</a>
      <a class="drop-btn" href="{% url 'personas-index' tipo='Alumno' %}">Listar Alumnos</a>
    </div>
  </li>
  <li class="drop">
    <a class="drop-btn">Cursos</a>
    <div class="drop-cont">
    </div>
  </li>
  <li class="drop">
    <a href="{% url 'dependencia'%}" class="drop-btn">Dependencias</a>
    <div class="drop-cont">
    </div>
  </li>
</ul>
