{% load static %}
<header>
	<a href="{% url 'home' %}"><img class="logo" src="{% static '/img/logo.png' %}"></a>
</header>
{% ifequal user.groups.all.0.name 'Gerente'%}
<ul>
  <li class="drop">
    <a class="drop-btn">Personas</a>
    <div class="drop-cont">
      <a class="drop-btn" href="{% url 'personas-index' tipo='Profesor' %}">Listar Profesores</a>
      <a class="drop-btn" href="{% url 'personas-index' tipo='Alumno' %}">Listar Alumnos</a>
    </div>
  </li>
  <li class="drop">
    <a class="drop-btn">Cursos</a>
    <div class="drop-cont">
      <a class="drop-btn" href="{% url 'materias-index' %}">Listar Materias</a>
      <a class="drop-btn" href="{% url 'cursos-index' %}">Listar Cursos</a>
    </div>
  </li>
  <li class="drop">
    <a href="" class="drop-btn">Dependencias</a>
    <div class="drop-cont">
      <a href="{% url 'dependencia'%}" class="drop-btn">Listar Dependencia</a>
    </div>
  </li>
  <li class="drop">
    <a href="" class="drop-btn">Importacion</a>
    <div class="drop-cont">
      <a href="{% url 'importacion-index'%}" class="drop-btn">Importar</a>
    </div>
  </li>
  <li class="drop">
    <a class="drop-btn">Gerente</a>
    <div class="drop-cont">
      <a class="drop-btn" href="{% url 'usuario-crear' tipo='Staff'%}">Crear Staff</a> 
      <a class="drop-btn" href="{% url 'usuario-crear' tipo='Gerente'%}">Crear Gerente</a>
      <a class="drop-btn" href="{% url 'control-log' %}">Control Log</a>  
    </div>
  </li>
    {% if user.is_authenticated %}
      <li class="right"><form class="none" action="{% url 'logout'%}" method="POST">  {% csrf_token %}<button class="logout-btn" type="submit">Logout</button></form></li>
    {% else %}
      <li class="right"><a class="drop-btn" href="{% url 'login'%}">Login</a></li>
    {% endif %}
</ul>
{% else %}
  {% ifequal user.groups.all.0.name 'Staff' %}
    <ul>
      <li class="drop">
        <a class="drop-btn">Personas</a>
        <div class="drop-cont">
          <a class="drop-btn" href="{% url 'personas-index' tipo='Profesor' %}">Listar Profesores</a>
          <a class="drop-btn" href="{% url 'personas-index' tipo='Alumno' %}">Listar Alumnos</a>
        </div>
      </li>
      <li class="drop">
        <a class="drop-btn">Cursos</a>
        <div class="drop-cont">
          <a class="drop-btn" href="{% url 'materias-index' %}">Listar Materias</a>
          <a class="drop-btn" href="{% url 'cursos-index' %}">Listar Cursos</a>
        </div>
      </li>
      <li class="drop">
        <a href="" class="drop-btn">Importacion</a>
        <div class="drop-cont">
          <a href="{% url 'importacion-index'%}" class="drop-btn">Importar</a>
        </div>
      </li>
        {% if user.is_authenticated %}
          <li class="right"><form class="none" action="{% url 'logout'%}" method="POST">  {% csrf_token %}<button class="logout-btn" type="submit">Logout</button></form></li>
        {% else %}
          <li class="right"><a class="drop-btn" href="{% url 'login'%}">Login</a></li>
        {% endif %}
    </ul>
  {% else %}
    <ul>
      {% if user.is_superuser %}
          <li class="drop">
            <a class="drop-btn">Personas</a>
            <div class="drop-cont">
              <a class="drop-btn" href="{% url 'personas-index' tipo='Profesor' %}">Listar Profesores</a>
              <a class="drop-btn" href="{% url 'personas-index' tipo='Alumno' %}">Listar Alumnos</a>
            </div>
          </li>
          <li class="drop">
            <a class="drop-btn">Cursos</a>
            <div class="drop-cont">
              <a class="drop-btn" href="{% url 'materias-index' %}">Listar Materias</a>
              <a class="drop-btn" href="{% url 'cursos-index' %}">Listar Cursos</a>
            </div>
          </li>
          <li class="drop">
            <a href="" class="drop-btn">Dependencias</a>
            <div class="drop-cont">
              <a href="{% url 'dependencia'%}" class="drop-btn">Listar Dependencia</a>
            </div>
          </li>
          <li class="drop">
            <a href="" class="drop-btn">Importacion</a>
            <div class="drop-cont">
              <a href="{% url 'importacion-index'%}" class="drop-btn">Importar</a>
            </div>
          </li>
          <li class="drop">
            <a class="drop-btn">Usuarios</a>
            <div class="drop-cont">
              <a class="drop-btn" href="{% url 'usuario-crear' tipo='Staff'%}">Crear Staff</a> 
              <a class="drop-btn" href="{% url 'usuario-crear' tipo='Gerente'%}">Crear Gerente</a>  
            </div>
          <li class="right"><form class="none" action="{% url 'logout'%}" method="POST">  {% csrf_token %}<button class="logout-btn" type="submit">Logout</button></form></li>
      {% else %}
        {% if user.is_authenticated %}
        <li class="drop">
          <a class="drop-btn">Asistencia</a>
          <div class="drop-cont">
            <a class="drop-btn" href="{% url 'asistencia-index' user.get_username %}">Listar Mis Cursos</a>
          </div>
        </li>
        <li class="right"><form class="none" action="{% url 'logout'%}" method="POST">  {% csrf_token %}<button class="logout-btn" type="submit">Logout</button></form></li>
        {% else %}
          <li class="right"><a class="drop-btn" href="{% url 'login'%}">Login</a></li>
        {% endif %}
      {% endif %}
      </ul>
  {% endifequal %}
{% endifequal %}