{% extends "master.html" %}

{% block title %}EDLT - Crear Asistencia{% endblock %}

{% block content %}
<h1>Asistencia Curso</h1>
  <div class="box">
  <table class="table ">
    <form method="POST" action="{% url 'asistencia-crear' %}" class="UserForm">
    <tbody>
      <tr>
        <th></th>
        <th>Alumno</th>
        <th>Presente</th>
        <th>Ausente</th>
      </tr>
        {% for li in lista %}
          {% csrf_token %}
          <tr>
            <td><input type="hidden" name="id{{ forloop.counter }}" value="{{ li.0 }}" readonly></td>
            <td style="text-align:center">{{ li.1 }}</td>
            <td><input type="radio" name="pres{{ forloop.counter }}" value="True" required></td>
            <td><input type="radio" name="pres{{ forloop.counter }}" value="False" required></td>
        {% endfor %}
      <tr>
        <td colspan="4"><button type="submit">Registrar</button></td>
      </tr>   
    </tbody>
  </form>
  </table>
</div>
{% endblock %}