{% extends "master.html" %}

{% block title %}Alumno.nombre{% endblock %}

{% block content %}
<h1>Listado Curso</h1>
  <div class="box">
  <table class="table ">
    <tr>
      <th>#ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Mail</th>
      <th>Tel.</th>
    </tr>
    <tbody>
      {% for li in lista %}
        <tr>
          <td> {{ li.id }} </td>
          <td> {{ li.nombre }} </td>
          <td> {{ li.apellido }} </td>
          <td> {{ li.dni }} </td>
          <td> {{ li.mail }} </td>
          <td> {{ li.telefono }} </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6"> No hay alumnos inscriptos o no se han encontrado.</td>
        </tr>
      {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}