{% extends "master.html" %}

{% block title %}EDLT - Listado Alumnos{% endblock %}

{% block content %}
<h1>Alumnos de {{ curso }}</h1>
  <div class="box">
  <table class="table ">
  <tbody>
    <tr>
      <th>#ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Mail</th>
      <th>Tel.</th>
      <th>Asistencia</th>
      <th>Editar</th>
    </tr>
      {% for li in lista %}
        <tr>
          <td> {{ li.0 }} </td>
          <td> {{ li.1 }} </td>
          <td> {{ li.2 }} </td>
          <td> {{ li.3 }} </td>
          <td> {{ li.4 }} </td>
          <td> {{ li.5 }} </td>
          <td><a href="{% url 'alumno-asistencia' curso.id li.0 %}">{{li.6}} / <strong>{{li.7}}</strong></a></td>
          <td><a class="Edit" href="{% url 'persona-editar' 'Alumno' li.0 %}">EDITAR</a></td>
        </tr>
      {% empty %}
        <tr>
            <td colspan="8"><strong>No se encontraron Alumnos o no fueron inscriptos.</strong></td>
        </tr>
      {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}