{% extends "master.html" %}

{% block title %}Mis Cursos{% endblock %}

{% block content %}
  <h1>Mis Cursos</h1>
  <div class="box">
  <table class="table ">
    <tr>
      <th>Nombre</th>
      <th>Modulo</th>
      <th>Listar Alumnos</th>
      <th>Asistencia</th>
    </tr>
    <tbody>
    {% for curso in cursos %}
    <tr>
      <td> {{ curso.materiaID }} </td>
      <td> {{ curso.modulo }} </td>
      <td><a class="Insc" href="{% url 'alumno-index' curso.id %}">ALUMNOS</a></td>
      <td><a class="Edit" href="">ASITENCIA</a></td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="4">No se encontraron Cursos o no fueron creados.</td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}