{% extends "master.html" %}

{% block title %}EDLT - Alumno Presente{% endblock %}

{% block content %}
<h1>Asistencia {{ insc.alumnoID }}</h1>
<div class="box">
	<table class="table ">
		<tbody>
			<tr>
				<th colspan="{{ pres.count }}">{{ insc.cursoID }}</th>
			</tr>
			<tr>
        		{% for inf in pres %}
        			<td><strong>{{ inf.fecha.day }}-{{ inf.fecha.month }}-{{ inf.fecha.year }}</strong></td>
        		{% empty %}
        			<td colspan="6"><strong>No se encontraron Fechas o el Curso no ha iniciado.</strong></td>
        		{% endfor %}
        	</tr>
        	<tr>
        		{% for inf in pres %}
        			{% if inf.presente == True %}
        				<td>Presente</td>
        			{% else %}
        				<td>----</td>
        			{% endif %}
        		{% empty %}
        			<td colspan="6"><strong>El alumno no registra Asistencias o el Curso no ha iniciado.</strong></td>
        		{% endfor %}
        	</tr>
		</tbody>
	</table>

{% endblock %}