{% extends "master.html" %}

{% block title %}Importar Inscripciones{% endblock %}

{% block content %}
	{% if user.is_staff %}
        <h1>Importar Inscripciones</h1>
        <form method="post" enctype="multipart/form-data" class="UserForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button value="submit" type="save">Subir</button>
        </form>
            {% load static %}
            <script type="text/javascript" src="{% static "/js/cargando.js" %}"></script>
    {% endif %}
{% endblock %}