{% extends "master.html" %}
{% block title %}EDLT - Detalle Persona{% endblock %}
{% block content %}
{% if tipo == 'Profesor'%}
  <h1>Detalle Profesor:</h1>
  <div class="box">
  <table class="table ">
    <tr>
      <th>#ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Mail</th>
      <th>Tel.</th>
      <th>Fec. Nac.</th>
      {% if user.is_staff %}
      <th>Editar</th>
      {% endif %}
    </tr>
    <tbody>
    <tr>
      <td> {{ Profesor.id }} </td>
      <td> {{ Profesor.nombre }} </td>
      <td> {{ Profesor.apellido }} </td>
      <td> {{ Profesor.dni }} </td>
      <td> {{ Profesor.mail }} </td>
      <td> {{ Profesor.telefono }} </td>
      <td> {{ Profesor.nacimiento }} </td>
      {% if user.is_staff %}
      <td><a class="Edit" href="{% url 'persona-editar' tipo Profesor.id %}">Editar</a></td>
      {% endif %}
    </tr>
  </tbody>
  </table>
</div>
{% else %}
  <h1>Detalle Alumno:</h1>
  <div class="box">
  <table class="table ">
    <tr>
      <th>#ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Mail</th>
      <th>Tel.</th>
      <th>Fec. Nac.</th>
      <th>Editar</th>
    </tr>
    <tbody>
    <tr>
      <td> {{ Alumno.id }} </td>
      <td> {{ Alumno.nombre }} </td>
      <td> {{ Alumno.apellido }} </td>
      <td> {{ Alumno.dni }} </td>
      <td> {{ Alumno.mail }} </td>
      <td> {{ Alumno.telefono }} </td>
      <td> {{ Alumno.nacimiento }} </td>
      <td><a class="Edit" href="{% url 'persona-editar' tipo Alumno.id %}">Editar</a></td>
    </tr>
  </tbody>
  </table>
</div>
<h1>Cursos:</h1>
<div class="box">
  <table class="table ">
    <tr>
      <th>#ID</th>
      <th>Curso</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Estado</th>
      <th>Asistencia</th>
    </tr>
    {% for a in cursos %}
    <tr>
      <td>{{ a.cursoID.id }}</td>
      <td>{{ a.cursoID }} </td>
      <td><strong>{{ a.cursoID.fInicio }}</strong></td>
      <td><strong>{{ a.cursoID.fFin }}</strong></td>
      <td>{{ a.cursoID.estado }}</td>
      <td><a class="insc" href="{%url 'alumno-asistencia' a.cursoID.id Alumno.id%}">Detalle</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5"><strong>El alumno no se inscribio a ningun curso.</strong></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}