{% extends "master.html" %}

{% block title %}Listar Personas{% endblock %}

{% block content %}
{% if tipo == 'Profesor'%}
  <h1>Profesores</h1>
  <div class="sub-nav">
    <a class="sub-btn" href="{% url 'personas-crear' tipo %}">Crear Profesores</a>
    {% include '../filtros/filtroPersona.html' %}
  </div>
  <div class="box">
    
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Expediente</th>
      </tr>
      <tbody>
        {% for Profesor in filtro.qs %}
        <tr>
          
          <td><a {% if user.is_staff %} href="{% url 'persona-detalle' tipo Profesor.id %}" {% endif %}>{{ Profesor.id }}</a></td>
          <td> {{ Profesor.nombre }} </td>
          <td> {{ Profesor.apellido }} </td>
          <td> {{ Profesor.expediente }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <h1>Alumnos</h1>
  <div class="sub-nav">
    <a href="{% url 'personas-crear' tipo %}">Crear Alumno</a>
    {% include '../filtros/filtroPersona.html' %}
  </div>
  <div class="box">
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Mail</th>
        <th>Tel.</th>
      </tr>
      <tbody>
        {% for Alumno in filtro.qs %}
        <tr>
          
          <td><a {% if user.is_staff %} href="{% url 'persona-detalle' tipo Alumno.id %}" {% endif %}>{{ Alumno.id }}</a></td>
          
          <td> {{ Alumno.nombre }} </td>
          <td> {{ Alumno.apellido }} </td>
          <td> {{ Alumno.mail }} </td>
          <td> {{ Alumno.telefono }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}