{% extends "master.html" %}

{% block title %}Listar Personas{% endblock %}

{% block content %}
{% if tipo == 'Profesor'%}
  <h1>Profesores</h1>
  <div class="box">
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Expediente</th>
      </tr>
      <tbody>
        {% for Profesor in personas %}
        <tr>
          <td><a href="{% url 'profesor-detalle' Profesor.id %}">{{ Profesor.id }}</a></td>
          <td> {{ Profesor.nombre }} </td>
          <td> {{ Profesor.apellido }} </td>
          <td> {{ Profesor.expediente }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <h1>Alumnos</h1>
  <div class="box">
    <table class="table ">
      <tr>
        <th>#ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Mail</th>
        <th>Tel.</th>
      </tr>
      <tbody>
        {% for Alumno in personas %}
        <tr>
          <td><a href="{% url 'alumno-detalle' Alumno.id %}">{{ Alumno.id }}</a></td>
          <td> {{ Alumno.nombre }} </td>
          <td> {{ Alumno.apellido }} </td>
          <td> {{ Alumno.mail }} </td>
          <td> {{ Alumno.telefono }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}